.bckgrd-img {
    background: url(images/background\ \(1\).png) no-repeat center;
    background-size: cover;
    align-content: center;
}

body {
    font-family: "Source Sans Pro", sans-serif
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
max-width: 1000px;
margin: 0 auto;
}

nav div a { 
   color: white;
   text-decoration: none;
   margin: 20px;
   font-weight: bold; 
}

nav a:hover{
 color:#ff6565;
}

button:hover {
    opacity: 0.9;
}

/*hero-section*/

.hero-sec {
    text-align: center;
    padding: 300px 20px;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
}

.hero-sec h1 {
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: 120px;
}

.hero-sec h3 {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 130px;
}

.hero-sec button {
    background-color: #FF6565 ;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-top: 100px;
    width: 162px;
    position: relative;
    top: 120px;
}

.hero-sec p {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    position: relative;
    top: 200px;
    max-width: 700px;
    margin: 0 auto;
}

/* What we do section*/

.what-sec {
     max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.what-head {
    text-align: center;
    margin-top: 100px;
}

.what-head h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.what-head p {
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
}

.what-main {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    flex-wrap: wrap;
}

.what-main img {
    margin-bottom: 20px;
    align-content: center;
}

.what-main h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.what-main p {
    font-size: 16px;
    width: 200px;
    margin-top: 20px;
    line-height: 1.6;
}

/*Our results section*/

.result-sec {
    background: url(images/background\ \(3\).png) ;
    background-size: cover;
    align-content: center;
    margin-top: 80px;
}

.result-con {
    color: white;
    padding: 150px;
    max-width: 1000px;
    margin: 0 auto;
}

.result-head {
    text-align: center;
    margin-top: 20px;
}

.result-head h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.result-head p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.result-main {
     display: flex;
    justify-content: space-between;
    align-items: center;
     margin-top: 100px;
     flex-wrap: wrap;
}
.pentagon {
  width: 190px;
  height: 190px;
  background: #FF6565;
  clip-path: polygon(
     50% 0%,   /* top */
    100% 38%, /* top right */
    82% 100%, /* bottom right */
    18% 100%, /* bottom left */
    0% 38%    /* top left */
  );
  
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  text-align: center;
  margin: 20px auto;
}

.pentagon h1,
.pentagon p {
  color: white;
  margin: 0;
}

.pentagon h1 {
  font-size: 2rem;
  font-weight: bolder;
}

.pentagon p {
  font-size: 1rem;
}

/*Contact us section*/

.contact-box {
    text-align: center;
    margin-top: 100px;
}

.contact-box h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

.contact-form {
 max-width: 500px;
  margin: 50px auto; 
  text-align: left;
}



.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  text-align: left;
  background: transparent;
}

button {
    background-color: #FF6565 ;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    width: 162px;
    align-items: center;
}

/*Footer Section*/

footer {
    background-color: #071629;
    color: white;
    padding: 50px;
    margin-top: 100px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}
footer > section > p {
    text-align: center;
    margin-top: 50px;
    opacity: 35.1%;
    font-size: 14px;
}

.footer-nav div i {
    margin: 10px;
}