body {
    font-family: 'Roboto', sans-serif;
}
header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-size: 10px;
    margin-bottom: 50px;
    margin-right: 100px;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul li a {
    padding: 30px;
}
header img {
    padding: 30px;
    width: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
}
.with-bg {
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
    padding: 10px;
}
button {
  background-color: #C271FF; /* Green */
  color: white;              /* Text color */
  padding: 10px 20px;        /* Space inside the button */
  border: none;              /* Remove default border */
  border-radius: 22px;        /* Rounded corners */
  cursor: pointer;
  font-size: 10px;
}
button:hover {
    color: #24063c;
}
section {
  text-align: center;
}
/* Unvisited link */
a:link {
  color: white;
}
a:visited {
  color: rgb(239, 203, 203);
}

/* Mouse hover over link */
a:hover {
  color: #C271FF;
}

/* Active link (when clicked) */
a:active {
  color: green;
}
a {
  text-decoration: none; 
  font-weight: bold;
}
.with-bg h1 {
    font-weight: bold;
    font-size: 80px;
    margin: 20px;
}
.highlight{
    font-weight: bold;
    color: #C271FF;
}
.with-bg h2 {
    font-weight: lighter;
    margin-top: 100px;
}
.image-row {
  display: flex;
  justify-content: space-evenly; /* or space-between or center */
  align-items: flex-start;
  gap: 10px; /* optional spacing between items */
  margin: 50px 50px;
}

.image-box {
  text-align: center;
}

.image-box img {
  width: 100px;  /* adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}
.image-box h3 {
    font-size: 16px;
}
.image-box p {
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
}
.text-row {
    display: flex;
    gap: 30px;
    margin: 20px;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
}
/* QUOTE SECTION */
.second {
  background-color: #C271FF;
  color: white;
  padding: 50px;
  margin: auto;
}
.quote {
  display: flex;
  object-fit: cover;
  margin-left: 190px;
  text-align: left;
  align-items: center;
  margin-top: 30px;
}
.quote img {
  width: 100px;
}
.quote2 {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.quote blockquote {
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 20px;
}
.quote3 {
  display: f;
  align-items: flex-start;
  margin-left: 40px;
  margin-bottom: 15px;
}
.quote3 h3 {
  font-size: 15px;
  margin-top: 5px;
  align-items: flex-start;
}
.quote3 span {
  font-size: 15px;
  font-weight: 1px;
}
/*.quote {
  display: flex;
   align-items: flex-start;
  margin: 20px 20px;
}
.quote img {
  width: 100px;
  margin-left: 50px;
}
.quote blockquote {
  margin-right: 50px;
  font-size: 10px;
  text-align: left;
}.
.textquote {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: ;
}*/
.heading {
font-style: normal;
font-weight: 300;
font-size: 32px;
line-height: 40px;
text-align: center;
color: #071629;
margin-top: 70px;
}
.textpop {
  color: #C271FF;
}
.box-row {
  display: flex;
  justify-content: center; /* or space-between or center */
  align-items: flex-start;
  gap: 1px; /* optional spacing between items */
  margin: 100px;
  width: px;
}
.box-box {
  text-align: center;
  gap: ;
}
.box-box h3 {
  font-size: 15px;
  text-align: left;
  margin-left: 40px;
}
.box-box p {
  font-size: 15px;
  margin-left: 10px;
  color: #95999e;
  text-align: left;
  width: 80%;
  margin-left: 40px;
}
.box-box img {
  width: 250px;  /* adjust as needed */
  height: auto;
  display: block;
  margin: 0 auto;
}
.box-box1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 200px;
}
.box-box1 img {
  width: 40px;
  height: auto;
  display: block;
  margin:auto
  
}
.box-box1 h4 {
  font-size: 10px;
  text-align: left;
  color: #C271FF;
  margin: auto;
}
.box-box2 {
  display: flex;
  justify-content: flex-start;
  font-size: 8px;
  gap: 5px;
  align-self: center;
  margin-left: 45px;
  color: #C271FF;
}
.box-box2 span {
  display:flex;
  font-size: 10px;
  margin-left: 100px;
  gap: 10px;
}

.membership {
  background-color: #071629;
  color: white;
  padding: 40px;
}
.member-box {
   display: flex;
  justify-content: center; /* or space-between or center */
  align-items: flex-start;
  margin: 50px;
  width: ;
}
.membership button {
  font-size: 10px;
}
.free {
  color: #C271FF;
}
.membership p {
  width: 80%;
  align-content: center;
  margin-left: 40px;
}
.faq h2 {
    font-size: 50px;
    font-weight: lighter;
    margin-top: 60px;
}
.faq-row {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px;
  text-align: left;
  margin-left: 260px;
}
.faq-row p {
  width: 50%;
  color: #95999e;
  font-size: 15px;
  margin-bottom: 80px;
}
.faq-row h3 {
  font-size: 15px;
}
.footer {
  background-color: #071629;
  padding: 50px;
  color: white;
}
.footer-row {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 30px;
  gap: 100px;
}
.footer p {
  font-size: 10px;
  align-content: center;
  margin-top: 60px;
}